@charset "utf-8";

/*■■■■■■■■　样式重置 ■■■■■■■■*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
table,
tr,
th,
td {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

fieldset,
img {
    border: 0;
}

address,
caption,
cite,
code,
dfn,
em,
th,
var {
    font-style: normal;
    font-weight: normal;
}

ul,
ul li,
li,
input,
dl,
dd {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

img,
a img {
    border: 0;
    margin: 0;
    padding: 0;
}

caption,
th {
    text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

a {
    text-decoration: none;
    color: #666666;
    /*-moz-transition: all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;*/
}

a:hover {
    text-decoration: none;
}

* {
    font-family: "微软雅黑";
}

a:hover {
    color: none;
}

input {
    background: none;
    outline: none;
    border: none;
}

body {
    background: url(../images/bg.png) no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100vh;
}

/* 控制图片清晰度 */
.img_quality {
    image-rendering: -webkit-optimize-contrast;
}

.primary_background_color {
    background-color: #4E6EF2;
}

.match_width {
    width: 100%;
}

.match_height {
    height: 100%;
}

.row_flex_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
}

.align_center {
    align-items: center;
}

.row_flex {
    display: flex;
    flex-direction: row;
}

.row_flex_left_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row_flex_right_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.column_flex_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flex_auto {
    flex: 1;
}

.cursor {
    cursor: pointer;
}


.container {
    margin: 0 50px;
}

.container input {
    border-bottom: 1px solid #bbb;
    font-size: 18px;
    -webkit-text-fill-color: #fff;
    caret-color: #fff;
}

.mNav {
    background-color: #4E6EF2;
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    padding: 16px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mNav img {
    width: 40px;
    height: 40px;
}

.tips {
    width: 22px;
    height: 22px;
}

.head_left {
    backdrop-filter: blur(10px);
    color: #fff;
    background: rgba(10, 15, 31, 0.5);
    padding: 16px;
    margin-top: 50px;
    border-radius: 10px;
}

.head_left_item,
.head_middle_item {
    margin: 16px 0;
}

.head_right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.openFile {
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 0 16px;
}

.transform {
    border: none;
    padding: 10px 14px;
    color: #fff;
    border-radius: 3px;
    font-size: 18px;
}

.transform:hover,
.openFile:hover {
    opacity: 0.9;
}

.bottom {
    margin: 16px 16px 0 0;
}

#bottom_center_imgList {
    margin: 0 16px;
}

#bottom_imgList img,
#bottom_center_imgList img,
#bottom_right_imgList img {
    width: 100%;
    height: 100%;
    /* 处理图片模糊算法 */
    image-rendering: -webkit-optimize-contrast;
}

#clone_bottom_imgList img,
#clone_bottom_center_imgList img,
#clone_bottom_right_imgList img {
    width: 100%;
    height: 100%;
}

.bottom .item {
    flex: 1;
}

/* grid 默认布局 3列5行 */
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.grid_4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

/* #cloneDom .img_item_container {
    width: 500px;
    height: 500px;
} */
/* 图片上方添加文本框 */
.img_item_container {
    position: relative;
    overflow: hidden;
}

.img_item_container .img_item_input {
    border: none;
    position: absolute;
    left: 5px;
    top: 5px;
    font-weight: bold;
    /* 文字默认描边 */
    /* -webkit-text-stroke: 1px #ffffff; */
    /* 文字默认大小 */
    font-size: 16px;
    padding: 3px 6px;
    border-radius: 50px;
}

/* 黑底白字 */
.black_white_text {
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
}

/* 白底黑字 */
.white_black_text {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
}



/* 弹窗样式 */
.dialog_container {
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.dialog_container .dialog_head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog_container .dialog_head img {
    width: 30px;
    height: 30px;
}

.dialog_container .dialog_update_text {
    width: 500px;
    max-width: 80%;
    overflow: hidden;
    background-color: #fff;
    border-radius: 4px;
    padding: 16px;
}

.dialog_container .dialog_content {
    margin: 30px 0;
}

.dialog_container .dialog_content input {
    border-bottom: 1px solid #bbb;
    padding: 8px 0;
    width: 100%;
}

.dialog_container .operate {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dialog_container .operate .confirm,
.dialog_container .operate .cancel {
    padding: 8px 12px;
    border-radius: 4px;
}

.dialog_container .operate .confirm {
    color: #fff;
}

.dialog_container .operate .cancel {
    border: 1px solid #dcdfe6;
    margin-right: 16px;
}

.dialog_container .operate .cancel:hover {
    background: rgba(67, 200, 241, 0.1);
    color: #4E6EF2;
}

/* 去除对话框的背景色 */
/* .hsycms-model-mask {
    background: none !important;
} */

/* 修改模态框主题色 */
.hsycms-model .hsycms-model-btn button:last-child {
    color: #4E6EF2 !important;
}